@font-face {
	font-family: 'Noto Sans';
	src: url('https://thedoczek.github.io/scripts/NotoSans.ttf');
	src: url('NotoSans.ttf')
}
@font-face {
	font-family: 'Noto Sans';
	src: url('https://thedoczek.github.io/scripts/NotoSans-Italic.ttf');
	src: url('NotoSans-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans Mongolian';
	src: url('https://thedoczek.github.io/scripts/mongolian/NotoSansMongolian.ttf');
	src: url('mongolian/NotoSansMongolian.ttf');
}

@font-face {
	font-family: 'Noto Sans Arabic';
	src: url('https://thedoczek.github.io/scripts/arabic/NotoSansArabic.ttf');
	src: url('arabic/NotoSansArabic.ttf');
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('https://thedoczek.github.io/scripts/hangul/NotoSansKR.ttf');
	src: url('hangul/NotoSansKR.ttf');
}

:root {
	font-size: 125%;
}

* {
	font-family: 'Noto Sans';
}

h1 {
	margin: 0px;
}
body {
	background-color: #003660;
	color: #e0f2ff;
	font-size: 1rem;
}

c {
	font-size: 0.75rem;
}

table.langs tr td c {
	text-decoration: underline;
}

table.title tr td c {
	text-decoration: none;	
}

table {
	width: 100%;
}
table.title {
	width: 50%;
}
tr {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
table.letters tr {
	align-items: flex-start;
	justify-content: center;
}
td {
	width: 25%;
	border:1px solid #e0f2ff;
	box-sizing: border-box;
	padding: 2px;
	font-size: 1rem;
}
td.title {
	width: 50%;
	border:none;
}
table.two tr td {
	width: 50%;
}
table.three tr td {
	width: 33%;
}
table.letters {
	width: 75%;
}
table.letters tr td {
	width: 40px;
	text-align: center;
	font-size: 1.25rem;
	border: none;
	padding: 0px;
}
table.langs tr td {
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table.title tr td {
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 50%;
	border: none;
}
@media screen and (max-width:1440px) {
	td{width:33%;}
	table.title {width: 66%;}
}
@media screen and (max-width:960px) {
	td{width:50%;}
	table.title {width: 100%;}
}
@media screen and (max-width:720px) {
	table.three tr td{width:100%;}
}
@media screen and (max-width:480px) {
	td{width:100%;}
	table.two tr td{width:100%;}
	table.two tr td{width:100%;}
	table.title tr td{width:100%;}
	table.letters {width: 100%;}
}
@media screen and (hover: none) {
	td{width:100%;}
	table.two tr td{width:100%;}
	table.two tr td{width:100%;}
	table.title tr td{width:100%;}
	table.letters {width: 100%;}
	table.title {width: 100%;}
	table.three tr td{width:100%;}
	:root {font-size:250%}
	table.letters tr td {width: 80px}
}

textarea {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	resize: none;
	overflow: hidden;
	font-size: 1rem;
	color: #e0e8ff;
}
textarea::placeholder {
	color: #e0f2ff80
}

table.langs tr td a, table.langs tr td a:visited {
	color: #e0f2ff
}
a, a:visited, table.langs tr td a:hover {
	font-size: 1.5rem;
	color: #e0f2ffc0;
	text-decoration: none;
}
a:hover {
	font-size: 1.5rem;
	color: #e0f2ff80
}

table.langs tr td na {
	color: #ffe0f2
}
na, table.langs tr td na:hover {
	font-size: 1.5rem;
	color: #ffe0f2c0;
	text-decoration: none;
}
na:hover {
	font-size: 1.5rem;
	color: #ffe0f280
}

h1 {
	font-weight: bold;
	font-size: 2rem;
}
